@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b0319;
  --foreground: #ffffff;
}
@font-face {
  font-family: josefin-sans;
  src: url("/fonts/JosefinSans-VariableFont_wght.ttf");
}

body {
  font-family: "josefin-sans", sans-serif;
  color: var(--foreground);
  background: var(--background);
}

.grid-back {
  background: linear-gradient(to right, #f486f040 2px, transparent 2px),
    linear-gradient(to bottom, #f486f040 2px, transparent 2px);
  background-size: 100px 100px;
  background-position: 50px 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.herobox {
  clip-path: polygon(
    47% 5%,
    53% 5%,
    55% 0,
    100% 0,
    100% 100%,
    50% 100%,
    0 100%,
    0% 70%,
    0 0,
    45% 0
  );
}
.herobox-border {
  clip-path: polygon(
    47% 5%,
    53% 5%,
    55% 0,
    100% 0,
    100% 100%,
    50% 100%,
    0 100%,
    0% 70%,
    0 0,
    45% 0
  );
  box-shadow: inset 0px 10px 1000px 10px rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 1024px) {
  .herobox {
    clip-path: polygon(
      45% 7%,
      55% 7%,
      58% 0,
      100% 0,
      100% 100%,
      50% 100%,
      0 100%,
      0% 70%,
      0 0,
      42% 0
    );
  }
  .herobox-border {
    clip-path: polygon(
      45% 7%,
      55% 7%,
      58% 0,
      100% 0,
      100% 100%,
      50% 100%,
      0 100%,
      0% 70%,
      0 0,
      42% 0
    );
  }
}

@media screen and (max-width: 768) {
  .herobox {
    clip-path: polygon(
      45% 5.5%,
      55% 5.5%,
      58% 0,
      100% 0,
      100% 100%,
      50% 100%,
      0 100%,
      0% 70%,
      0 0,
      42% 0
    );
  }
  .herobox-border {
    clip-path: polygon(
      45% 5.5%,
      55% 5.5%,
      58% 0,
      100% 0,
      100% 100%,
      50% 100%,
      0 100%,
      0% 70%,
      0 0,
      42% 0
    );
  }
}

@media screen and (max-width: 640px) {
  .herobox {
    clip-path: polygon(
      45% 6%,
      55% 6%,
      60% 0,
      100% 0,
      100% 100%,
      50% 100%,
      0 100%,
      0% 70%,
      0 0,
      40% 0
    );
  }
  .herobox-border {
    clip-path: polygon(
      45% 6%,
      55% 6%,
      60% 0,
      100% 0,
      100% 100%,
      50% 100%,
      0 100%,
      0% 70%,
      0 0,
      40% 0
    );
  }
}
