@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b0319;
  --foreground: #ffffff;
}
@font-face {
  font-family: josefin-sans;
  src: url("/fonts/JosefinSans-VariableFont_wght.ttf");
}

body {
  font-family: "josefin-sans", sans-serif;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
